@font-face {
	font-family: 'poprevo';
	src:url('../fonts/poprevo.eot?mi5lnt');
	src:url('../fonts/poprevo.eot?mi5lnt#iefix') format('embedded-opentype'),
		url('../fonts/poprevo.ttf?mi5lnt') format('truetype'),
		url('../fonts/poprevo.woff?mi5lnt') format('woff'),
		url('../fonts/poprevo.svg?mi5lnt#poprevo') format('svg');
	font-weight: normal;
	font-style: normal;
}
