$font-family-display: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-default: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

$font-size-base: 14px;

$line-height-base: $font-size-base * 1.5;
